[submodule "obvious"]
	path = obvious
	url = git@github.com:hoelzro/obvious.git
[submodule "radical"]
	path = radical
	url = git@github.com:Elv13/radical.git
[submodule "lain"]
	path = lain
	url = git@github.com:copycat-killer/lain.git
[submodule "awesome-copycats"]
	path = awesome-copycats
	url = git@github.com:copycat-killer/awesome-copycats.git
